<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>produto</title>
</head>
<body>
     <table>
        <thead>
            <tr>
                <th>Produto</th>
                <th>Preço</th>
                <th>Estoque</th>
            </tr>
        </thead>
        <tbody>

            <tr>

                <td> <a href="{% url 'index' %} ">{{ produto.nome }}</a></td>
                <td>{{ produto.estoque }}</td>
                <td>{{ produto.valor }}</td>
            </tr>

        </tbody>

    </table>
</body>
</html>